body{
    background-color: rgb(241, 242, 244);
    
   

}
.back{
    
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(254, 255, 255);
    width: 315px;
    padding: 20px;
    height: 350;
    border-radius: 5px;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);


}
.facebook{
    font-size: 50px;
    margin-top: 109px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    color: #1877f2;
}
.pass{
    height: 45px;
    width: 300px;
    font-size: 14px;
    border: 1px solid #dddfe2;
    border-radius: 2px;
    border-width: 1px;
}
.email{
    height: 45px;
    width: 300px;
    border: 1px solid #dddfe2;
    font-size: 14px;
    margin-top: 14px;
    border-radius: 2px;
    border-width: 1px;
    
    
}
.login{
    margin-top: 25px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color:#1877f2;
    border-width: 0px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.login:hover{
    background-color: #166fe5;
}
.signup{
    
    
    text-decoration: none;
    font-size: 35px;
    
    color: rgb(255, 251, 251);
    
}
.forget{
    justify-content: center;
    text-decoration: none;
    display: flex;
    font-family:SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    color: rgb(51, 124, 208);
    
}
.para{
    text-align: center;
    font-size: 12px;
}
.para h2{
    font-size: 24px;
    line-height: 28px;
    width: auto;
    font-weight: normal;
    font-family:SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
.bar{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
.create{
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    text-align: center;
    background-color: #48c72e;
    
}
.create a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}
.create:hover{
    background-color: #36a420;
    border-color: #36a420;
}
.msg a{
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}
.msg{
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
    margin-top: 28px;
    text-align: center;
}